/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #F3F4F6; <--- COMENTE OU REMOVA ESTA LINHA */
  color: #111827; /* brand-dark */
  font-family: theme('fontFamily.pixel');
  
}

html {
  scroll-behavior: smooth;
}

